<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.sample.app"
        version   = "1.0.0">

    <name>NOC Syllabus</name>

    <description>
        All Syllabus of Nepal Oil Corporation For Open Competition
    </description>

    <author href="https://www.facebook.com/isRupak" email="rupakbhattarai33@gmail.com">
        Rupak Bhattarai
    </author>
	
	<!-- Define app icon for each platform. -->
        <icon src="files/icons/36.png" gap:platform="android" gap:density="ldpi" />
		<icon src="files/icons/48.png" gap:platform="android" gap:density="mdpi" />
		<icon src="files/icons/72.png" gap:platform="android" gap:density="hdpi" />
		<icon src="files/icons/96.png" gap:platform="android" gap:density="xhdpi" />
		<icon src="files/icons/144.png" gap:platform="android" gap:density="xxhdpi" />
		<icon src="files/icons/192.png" gap:platform="android" gap:density="xxxhdpi" />
		
	<!-- PDF Viewer -->

    <!-- For Admob-->
	
	<preference name="android-build-tool" value="gradle" /> 
	<gap:plugin name="cordova-plugin-admobpro" source="npm" />
	    

    <!-- Customize your app and platform with the preference element. -->
    <preference name="fullscreen" value="true" />
	<preference name="android-installLocation" value="auto" />
	
	<!-- Whilisting to connect internet -->
	<plugin name="cordova-plugin-whitelist" source="npm"/>
	 
<allow-navigation href="*" />
<allow-intent href="*" />
<access origin="*" />

		<content src="index.html" />
         
		 <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>
		
		 
		 <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
</feature>
    
</widget>
